#bloquea directorios del proyecto
Options ALL -Indexes
#para poder utilizar rewriterule
RewriteEngine on
#convierte  las palabras en variables get
RewriteRule ^(\w+)$ index.php?ubicacion=$1
RewriteRule ^Producto=(\d+)$ index.php?ubicacion=verProducto&id=$1
RewriteRule ^Inventario=(\d+)$ index.php?ubicacion=Inventario&id=$1
