
.tarjeta {
  float: left;
  margin-top: 5px;
  width: 100%;
}
.tarjeta .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tarjeta .menu-content::before, .tarjeta .menu-content::after {
  content: '';
  display: table;
}
.tarjeta .menu-content::after {
  clear: both;
}
.tarjeta .menu-content li {
  display: inline-block;
}
.tarjeta .menu-content a {
  color: #fff;
}
.tarjeta .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  transform: translate(-50%, 0);
}
.tarjeta .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.tarjeta .wrapper:hover .data {
  transform: translateY(0);
}
.tarjeta .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}
.tarjeta .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.tarjeta .author {
  font-size: 12px;
}
.tarjeta .title {
  margin-top: 10px;
}
.tarjeta .text {
  height: 70px;
  margin: 0;
}
.tarjeta input[type='checkbox'] {
  display: none;
}
.tarjeta input[type='checkbox']:checked + .menu-content {
  transform: translateY(-60px);
}

.example-2 .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}
.example-2 .header {
  color: white;
  padding: 1em;
}
.example-2 .header::before, .example-2 .header::after {
  content: '';
  display: table;
}
.example-2 .header::after {
  clear: both;
}
.example-2 .header .date {
  float: left;
  background: #fb6340;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}
.content .menu-content {
  float: right;
}
.content .menu-content li {
  margin: 0;
  position: relative;
  font-size: 30px;
}

.content .menu-content li .like{
  margin-top: -30px;
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}

.content .menu-content li .like.activado{
  transition-duration: 1s;
  background-position: -2800px 0;
}

.content .menu-content span {
  font-size: 12px;
  transition: all 0.3s;
  opacity: 0;
}
.example-2 .data {
  background: rgba(19, 7, 4, 0.8);
  color: #fff;
  transform: translateY(calc(70px + 4em));
}
.example-2 .title a {
  color: #fff;
}
.example-2 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.example-2 .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.example-2 .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

.comprado {
	width: 300px;
	min-height: 400px;
}

.comprado .front, .comprado .back {
  width: 300px;
	min-height: 400px;
	background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
	padding: 30px;
	box-sizing:border-box;
	transition:0.5s;
	transform-origin: right;
}
.comprado .back {
  position: absolute;
  height: 416px;
  overflow-y: scroll;
  overflow-x: hidden;
	left:0;
	top:0;
	background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
	transform-origin: left;
	transform: translateX(100%) rotateY(90deg);
}

.comprado .back.active {
	transform: translateX(0) rotateY(0deg);
}

.comprado .front  {
	transform: translateX(-100%) rotateY(90deg);
}
.comprado .front.active {
	transform: translateX(0) rotateY(0deg);
}
.location {
	font-weight: bold;
	width: 50%;
	text-align: left;
	float: left;
	color:#fff;
}

.more, .go-back {
	width: 50%;
	text-align: right;
	cursor: pointer;
	float: right;
	font-size: 24px;
	color: #fff;
	display: block;
}

.go-back {
	width: auto;
	float: none;
}

.weather {
	padding: 50px 0 20px;
	text-align: center;
}

.weather .fas {
	font-size: 80px;
	color:#fff;
	text-shadow: 0 2px 1px rgba(50,50,50,.4),0 15px 25px rgba(0,0,0,.4);
}

.weather h1 {
	margin: 15px;
	padding: 0;
	font-size: 56px;
	color: #fff;
	line-height: 26px;
}

.weather h1 span {
	font-size: 20px;
}

.forecast {
	margin: 0;
  padding: 0;
}

.forecast li {
	padding: 15px 0;
	border-bottom: 1px solid #fff;
	display: flex;
	font-weight: bold;
	cursor: pointer;
	color:#fff;
}

.forecast li:last-child {
	border-bottom:none;
}

.forecast li .day {
	width: 50%;
}

.forecast li .temprature {
	width: 50%;
	text-align: right;
}

.libreta{
  height: 450px;
  border-radius:20px;
  overflow:hidden;
}

.movie-card {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 315px;
  display: block;
  margin: 1%;
  border-radius: 8px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
@media screen and (max-width: 800px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .movie-card {
    background-position: 50% 0%;
    background-size: cover;
    height: 400px;
  }
}

#movie-card-list{
  height: 655px;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.movie-card[data-movie="Hombres"] {
  background-image: url(http://digitalspyuk.cdnds.net/15/47/1600x800/landscape-1447754794-harrison-ford-blade-runner.jpg);
}

.movie-card[data-movie="Mujeres"] {
  background-image: url(https://c.wallhere.com/photos/aa/60/women_sunglasses_tattoo_stairs_MTV_short_tops_brunette-36178.jpg!d);
}
.movie-card[data-movie="Niños"] {
  background-image: url(https://babidu.com/image/cache/catalog/SLIDERSS19-1600x800.jpg);
}

.movie-card__overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(to right, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
  background-blend-mode: multiply;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@media screen and (max-width: 600px) {
  .movie-card__overlay {
    background: linear-gradient(to bottom, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
  }
}

.movie-card__content {
  width: 100%;
  max-width: 370px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  float: right;
  padding-right: 1.2em;
  padding-bottom: 1em;
}
@media screen and (max-width: 1000px) {
  .movie-card__content {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .movie-card__content {
    margin-top: 4.2em;
    width: 100%;
    float: inherit;
    max-width: 100%;
    padding: 0 1em 1em;
  }
}
.movie-card__header {
  margin-bottom: 2em;
}
.movie-card__title {
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: .25em;
  opacity: .75;
}
.movie-card__info {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8em;
  color: #2a9fff;
  line-height: 1;
  margin: 0;
  font-weight: 700;
  opacity: .5;
}
.movie-card__desc {
  font-weight: 300;
  color: white;
  margin-bottom: 2em;
}

h1, h2, h3 {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

.boton {
  text-decoration: none;
  padding: .5rem 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
}

.lineaboton {
  background-color: transparent;
  border: 3px solid #ffffff;
}



.lineaboton:hover {
  border-color: #2a9fff;
  color: #2a9fff;
  box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
}


@-webkit-keyframes scaleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#successAnimationCircle {
  stroke-dasharray: 151px 151px;
  stroke: #2dce89;
}

#successAnimationCheck {
  stroke-dasharray: 36px 36px;
  stroke: #2dce89;
}

#successAnimationResult {
  fill: #2dce89;
  opacity: 0;
}

#successAnimation.animated {
  -webkit-animation: 1s ease-out 0s 1 both scaleAnimation;
          animation: 1s ease-out 0s 1 both scaleAnimation;
}
#successAnimation.animated #successAnimationCircle {
  -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
          animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationCheck {
  -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
          animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationResult {
  -webkit-animation: 0.3s linear 0.9s both fadeIn;
          animation: 0.3s linear 0.9s both fadeIn;
}


@media (max-width: 400px) {
  .comprado {
    margin-left: -35px;
    padding: 0;
  }
}
